# 
# get UTI with osascript -e 'id of app "iTerm"'
#

org.vim.MacVim bak all
org.vim.MacVim csv all
com.microsoft.edgemac jpg all
org.vim.MacVim json all
org.vim.MacVim .md all
com.apple.Preview pdf all
org.vim.MacVim properties all
com.microsoft.edgemac png all
org.vim.MacVim tf all
org.vim.MacVim sql all
com.microsoft.edgemac svg all
org.vim.MacVim txt all
org.vim.MacVim yaml all
com.googlecode.iterm2 command all
